/* Reset básico para manejar márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #001A49;
    color: #333;
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    overflow: hidden; /* Evita el scroll */
}

/* Menú lateral */
.menu {
    background-color: #2091F9;
    width: 200px; /* Ancho fijo del menú */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #ffffff;
}

/* Formulario */
.formu {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto; /* Centrar el formulario verticalmente */
    max-width: 400px; /* Ancho máximo */
    width: 100%; /* Ancho completo en móviles */
}

.formu__newsletter {
    color: #064E3B;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.formu__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formu__input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s;
}

.formu__input:focus {
    border-color: #2091F9;
    outline: none;
}

.formu__submit {
    background-color: #103c65;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.formu__submit:hover {
    background-color: #0071BC;
}

/* Responsivo */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Cambia el diseño para apilar los elementos */
    }

    .menu {
        width: 100%; /* Menú ocupa el ancho completo */
        height: auto; /* Ajusta la altura */
        flex-direction: row; /* Los elementos del menú se colocan en fila */
        padding: 10px 0;
    }

    .menu ul {
        display: flex;
        justify-content: space-around; /* Espaciado uniforme entre enlaces */
        width: 100%;
    }

    .menu li {
        margin: 0;
    }

    .formu {
        max-width: 90%; /* Ancho más pequeño en móviles */
        margin: auto;
    }
}

@media (max-width: 480px) {
    .formu__newsletter {
        font-size: 1.2rem; /* Texto más pequeño */
    }

    .formu__input {
        padding: 8px; /* Reducir padding en campos de texto */
    }

    .formu__submit {
        padding: 10px; /* Reducir tamaño de botón */
    }
}
